<div class="container w-50">
<h2 style="color: black; margin-top:20px; margin-bottom: 20px;">Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true, autofocus: true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  <%= f.input :current_password,
              hint: "we need your current password to confirm your changes",
              required: true,
              input_html: { autocomplete: "current-password" } %>
  <%= f.input :password,
              hint: "leave it blank if you don't want to change it",
              required: false,
              input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation,
              required: false,
              input_html: { autocomplete: "new-password" } %>
  <br><hr>
  <h4 class="text-center">Theme Settings</h4>
  <p class="text-center"> ✨ Dont like your theme, feel free to customize them here ✨</p>
  <br>
  <div class="revert" data-controller="default-color" data-default-color-color-value="#151828">
    <%= f.input :bg_color,
                input_html: { type: "color", data: { default_color_target: "input" } },
                label: "Side Bars Color",
                value: "#151828",
                hint: "Please note that this doesnt change the form color scheme for security reasons" %>
    <%= link_to ('<i class="fas fa-history"></i>').html_safe, "#", class: "revert-icon", data: { action: "click->default-color#setValue" } %>
  </div>
  <div class="revert" data-controller="default-color" data-default-color-color-value="#372f2f">
    <%= f.input :card_color,
                input_html: { type: "color", data: { default_color_target: "input" } },
                value: "#372f2f",
                label: "Card Colour",
                hint: "Please note that this doesnt change the form color scheme for security reasons" %>
    <%= link_to ('<i class="fas fa-history"></i>').html_safe, "#", class: "revert-icon", data: { action: "click->default-color#setValue" } %>
  </div>
  <div class="revert" data-controller="default-color" data-default-color-color-value="#FFFFFF">
    <%= f.input :txt_color,
                input_html: { type: "color", data: { default_color_target: "input" } },
                label: "Text Colour",
                value: "#FFFFFF",
                hint: "Please note that this doesnt change the form color scheme for security reasons" %>
    <%= link_to ('<i class="fas fa-history"></i>').html_safe, "#", class: "revert-icon", data: { action: "click->default-color#setValue" } %>
  </div>
        <% # All the latest Browsers like Firefox & Chrome has their own color pickers, we are using them %>
  <div class="row mb-0">
    <div class="col-sm-9 offset-sm-5">
      <%= f.button :submit, "Update", class: "btn-outline-dark btn" %>
      <%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-outline-dark btn " %>
    </div>
  </div>
<% end %>
<p><%= link_to "Back", :back %></p>
</div>
