<div class ="wrapper w-100" >
  <div data-controller="sections">
    <div id="sections-list" data-action="drop->sections#sort">
      <% @sections.order(position: :asc).each do |section| %>
        <div class = "section-item" data-section-type="<%= section.section_type %>" data-section-id="<%= section.id %>">
          <% if section.section_type == "todo" %>
            <div class = "card m-4" >
              <div class="page-header">
                <div data-controller="edit-section" data-edit-section-target="section">
                  <div class = "section" data-edit-section-target="infos" ></div>
                  <h1 class = "container heading" data-action="click->edit-section#displayForm"><%= section.name %></h1>
                  <%= simple_form_for section, html: { class: "d-none mb-5", data: { edit_section_target: "form", action: "submit->edit_section#update" } } do |f| %>
                    <%= f.input :name, label: false %>
                    <%= f.submit class: "card-btn btn btn-outline-dark" %>
                  </div>
                <% end %>
                <div data-controller="tasks">
                  <hr size="10">
                  <div class="tasks-list container" data-tasks-target="list" data-action="drop->tasks#sort">
                    <% @tasks[section.id].sort_by { |task| task.position || 0 }.each do |task| %>
                      <div class="task-bar">
                        <%= render "task_infos", task: task, section: section %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div id = "task" class = "simple mx-3 my-4">
                  <%= simple_form_for([section, @task], remote: true) do |f| %>
                    <%= f.button :submit, "+", class: "card-btn btn btn-outline-dark" %>
                    <%= f.input :title, placeholder: "Add a task...", label: false %>
                  <% end %>
                </div>
                <%= link_to "Search", section_tasks_path(section) %>
                <span class="bin text-right mr-3 mb-3">
                  <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                              section_path(section),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
                </span>
              </div>
            </div>
          <% end %>
          <% if section.section_type == "timer" %>
            <div class = "card m-4" >
              <h1>Timer</h1>
              <hr size="10">
              <% @timers[section.id].each do |timer| %>
                <span class="text-right">
                </span>
                <span class="text-center mb-2"><strong><%= timer.name %></strong></span>
                <div class="timer">
                  <br>
                  <div class="simple_form">
                    <form name="customForm" id="customForm" class= "timer__controls d-flex mx-5">
                      <button data-time="0" class="timer__button"><i class="fas fa-undo"></i></button>
                      <input type="text" name="minutes" placeholder="Enter Minutes"class="form-control mx-3" id="input">
                      <button type="submit" id= "start"class="timer__button" name="start" value="start"><i class="fas fa-play"></i></button>
                    </form>
                  </div>
                  <div class="display mx-5 mb-5">
                    <h1 class="display__time-left mt-2"></h1>
                    <p class="display__end-time mb-2"></p>
                  </div>
                </div>
              <% end %>
              <% if section.timers.length == 0 %>
                <div id = "timer" class = "my-3 mx-5 text-center">
                  <%= simple_form_for([section, @timer], remote: true) do |f| %>
                    <%= f.input :name, placeholder: "Add a timer...", label: false %>
                    <%= f.button :submit, "Add Timer", class: "card-btn btn" %>
                  <% end %>
                </div>
              <% end %>
              <span class="bin mr-3 mb-3">
                <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                            section_path(section),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
              </span>
            </div>
          <% end %>
          <% if section.section_type == "web" %>
          <div class="web-container p-4 ">
            <div class = "web-card p-10" >
              <h2>Browser</h2>
              <hr size="10">
              <% @webs[section.id].each do |web| %>
                <span class="text-right">
                </span>
                <div>

  <iframe  class="responsive-iframe" style="background-color:white" type="text/html"  src="<%= web.url %>" frameborder="0"><input type="button" value="Back" onclick="history.back()"></iframe>

</div>
              <% end %>
              <% if section.webs.length == 0 %>
                <div id = "web" class = "my-3 mx-5 text-center">
                  <%= simple_form_for([section, @web], remote: true) do |f| %>
                    <%= f.input :url, input_html: { value: "https://www.google.com/search?igu=1" }, placeholder: "Enter URL - e.g. https://www.google.com/search?igu=1", label: false %>

                    <%= f.button :submit, "Start Browser", class: "card-btn btn" %>
                  <% end %>
                   <br>
                  <p><em>Only iframe enabled urls supported...</em><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options">More Info</a></p>
                 <br>
                </div>
              <% end %>

            </div>

            <span class="bin mr-3 mb-3">
                <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                            section_path(section),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
              </span>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% # ---------------------------------------------- %>
