<div class ="wrapper w-100" >
  <div data-controller="sections">
    <div id="sections-list" data-action="drop->sections#sort">
      <% @sections.order(position: :asc).each do |section| %>
        <div class = "section-item" data-section-type="<%= section.section_type %>" data-section-id="<%= section.id %>">
          <% if section.section_type == "todo" %>
            <div class = "card" >
              <div class="page-header">
                <div data-controller="edit-section" data-edit-section-target="section">
                  <div class = "section" data-edit-section-target="infos" ></div>
                  <h1 class = "heading" data-action="click->edit-section#displayForm"><%= section.name %></h1>
                  <%= simple_form_for section, html: { class: "d-none mb-5", data: { edit_section_target: "form", action: "submit->edit_section#update" } } do |f| %>
                    <%= f.input :name %>
                    <%= f.submit %>
                  </div>
                <% end %>
                <div data-controller="tasks">
                  <hr size="10">
                  <div class="tasks-list container" data-controller="edit-task" data-tasks-target="list" data-action="drop->tasks#sort">
                    <% @tasks[section.id].order(position: :asc).each do |task| %>
                      <%= render "task_infos", task: task, section: section %>
                    <% end %>
                  </div>
                </div>
                <div id = "task" class = "mx-3 my-4">
                  <%= simple_form_for([section, @task], remote: true) do |f| %>
                    <%= f.input :title, placeholder: "Add a task...", label: false %>
                    <%= f.submit %>
                  <% end %>
                </div>
                <%= link_to "Search", section_tasks_path(section) %>
                <span class="bin text-right mr-3 mb-3">
                  <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                              section_path(section),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
                </span>
              </div>
            </div>
          <% end %>

          <% if section.section_type == "timer" %>
            <div class = "card" class ="my-5">
              <h1>Timer</h1>
              <hr size="10">
              <% @timers[section.id].each do |timer| %>
                <span class="text-right">
                  <%= link_to image_tag("remove.png", height: "15", width: "15"),
                              timer_path(timer),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
                </span>
                <span class="text-center mb-2"><%= timer.name %></span>
                <div class="timer">
                  <div class="timer__controls mb-3">
                    <button data-time="60" class="timer__button mx-5">1 Min</button>
                    <button data-time="300" class="timer__button mr-5">5 Mins</button>
                    <button data-time="900" class="timer__button mr-5">15 Mins</button>
                  </div>
                  <br>
                  <form name="customForm" id="customForm" class= "timer__controls d-flex mx-5">
                    <button data-time="0" class="timer__button"><i class="fas fa-undo"></i></button>
                    <input type="text" name="minutes" placeholder="Enter Minutes"class="mx-3">
                    <button type="submit" class="timer__button" name="start" value="start"><i class="fas fa-play"></i></button>
                  </form>
                  <div class="display mx-5 mb-5">
                    <div class="row mt-5">
                      <div id="pomodoro-clock" class="col-10 col-md-5 col-lg-3 mx-auto p-5">
                        <h1 id="pomodoro-clock-headline" class="text-center">SESSION</h1>
                        <h1 id="pomodoro-clock-timer" class="text-center mt-4">25</h1>
                        <p class="text-center">Click to <span id="instruction">start</span></p>
                      </div>
                    </div>
                    <h1 class="display__time-left mt-2">0:00</h1>
                    <p class="display__end-time mb-2">Be Back Right Now</p>
                  </div>
                </div>
              <% end %>
              <% if section.timers.length == 0 %>
                <div id = "timer" class = "my-3 mx-5 text-center">
                  <%= simple_form_for([section, @timer], remote: true) do |f| %>
                    <%= f.input :name, placeholder: "Add a timer...", label: false %>
                    <%= f.submit %>
                  <% end %>
                </div>
              <% end %>
              <span class="bin mr-3 mb-3">
                <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                            section_path(section),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% # ---------------------------------------------- %>
