<div class="right-side" :class="{ 'active': rightSide }">
  <div class="account">
    <button class="account-button">
      <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
          class="css-i6dzq1" viewBox="0 0 24 24">
        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
        <path d="M22 6l-10 7L2 6" />
      </svg>
    </button>
    <button class="account-button">
      <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
          class="css-i6dzq1" viewBox="0 0 24 24">
        <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
      </svg>
    </button>
  </div>
  <div class="side-wrapper underline">
    <div class="side-title">Widgets</div>
    <div class="user">
      <%= image_tag("todo.png", :class => "user-img") %>
      <div class="username">Todo List
        <div class="folder-links">
          <% if @folder.id %>
            <%= link_to "Add Todo List", folder_sections_path(@folder, section: { section_type: "todo", name: "My Tasks" }), method: "POST", id: "folder-link", remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="side-wrapper underline">
    <div class="user">
      <%= image_tag("timer.png", :class => "user-img") %>
      <div class="username"> Timer
        <div class="folder-links">
          <% if @folder.id %>
            <%= link_to "Add Timer", folder_sections_path(@folder, section: { section_type: "timer", name: "Timer" }), method: "POST", id: "folder-link", remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="side-wrapper underline">
    <div class="user">
      <%= image_tag("web.png", :class => "user-img") %>
      <div class="username"> Web Browser
        <div class="folder-links">
          <% if @folder.id %>
            <%= link_to "Add a Web Browser", folder_sections_path(@folder, section: { section_type: "web", name: "Browser" }), method: "POST", id: "folder-link", remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

   <div class="notification pl-4">
  <div class="side-title">Notifications</div>
  </div>
  <div class = "notifications">
      <%= render @notifications %>
  </div>
  <div class="overlay" @click="rightSide = false; leftSide = false" :class="{ 'active': rightSide || leftSide }"></div>

</div>
