<div class="right-side" :class="{ 'active': rightSide }">
  <div class="account">
    <button class="account-button">
      <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
          class="css-i6dzq1" viewBox="0 0 24 24">
        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
        <path d="M22 6l-10 7L2 6" />
      </svg>
    </button>
    <button class="account-button">
      <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
          class="css-i6dzq1" viewBox="0 0 24 24">
        <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
      </svg>
    </button>
    <ul class="navbar-nav">
      <span class="account-user pt-3 pr-2 p-2"> <%= current_user.first_name %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </span>
    </ul>
  </div>
  <%# ---------------------------------------------- %>
  <div class="side-wrapper underline">
    <div class="side-title">Widgets</div>
    <div class="user">
      <%= image_tag("todo", :class => "user-img")%>
      <div class="username">Todo List
        <div class="folder-links">
          <%= link_to "Add Todo List", folder_sections_path(@folder, section: { section_type: "todo" }), method: "POST", id: "folder-link" %>
        </div>
      </div>
    </div>
  </div>
  <%# ---------------------------------------------------------------- %>
  <div class="side-wrapper underline">
    <div class="user">
      <%= image_tag("timer", :class => "user-img")%>
      <div class="username"> Timer
        <div class="folder-links">
          <%= link_to "Add Timer", folder_sections_path(@folder, section: { section_type: "timer" }), method: "POST", id: "folder-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="side-wrapper underline">
    <div class="user">
      <%= image_tag("bookmark", :class => "user-img")%>
      <div class="username"> Bookmark
        <div class="folder-links">
          <%= link_to "Add Bookmark Manager", folder_sections_path(@folder, section: { section_type: "timer" }), method: "POST", id: "folder-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" @click="rightSide = false; leftSide = false" :class="{ 'active': rightSide || leftSide }"></div>
