<div data-controller="edit-task" data-edit-task-target="task-item">
  <li class = "task-item" data-edit-task-target="infos" data-task-id="<%= task.id %>" data-task-section-id="<%= section.id %>">
    <i class="fas fa-grip-lines mr-2"></i>
    <% Notification.destroy_all %>
    <% if task.date %>
      <% if task.date <= DateTime.now() %>
          <% CommentNotification.with(task: task).deliver(current_user) %>
      <% end %>
    <% end %>
    <% if task.completed == "completed" %>
      <a class = "add" href="<%=  %>"><%= image_tag("checked.png", height: "15", width: "15") %></a>
    <% else %>
      <a class = "add" href="<%=  %>"><%= image_tag("empty.png", height: "15", width: "15") %></a>
    <% end %>
    <a id = "task<%= task.id %>" data-action="click->edit-task#displayForm"><%= task.title %></a>
    <%= link_to image_tag("remove.png", height: "15", width: "15"),
                task_path(task.id),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    <br>
  </li>
  <br>
  <%= simple_form_for(task, html: { class: "d-none mb-5", data: { edit_task_target: "form", action: "submit->edit_task#update" }}) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date, as: :date %>
    <%= f.input :is_event %>
    <%= f.input :completed, collection: Task.completeds.keys %>
    <%=  f.button :submit, "Update Task", class: "card-btn btn btn-outline-dark" %>
  </div>
<% end %>
