
<div class="wrapper d-flex h-100">
  <aside class="sidebar h-100">
    <div class="sidebar-section sidebar-header">
      <div class="d-flex  sidebar-logo text-center">
        <a id="logo" href="<%= root_path %>">SAVER</a>
        <div class = "logo ml-3">
          <%= link_to image_tag("saver.png", height: "20"), root_path %>
        </div>
        <img src="" alt="">
      </div>
    </div>
    <div class="searchbar mt-3 m-2">
      <input class="search_input" type="text" name="" placeholder="Search Widgets...">
    </div>
    <div class="sidebar-section sidebar-menu p-0">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active pt-3 pb-2" id="menu" role="tabpanel" aria-labelledby="menu-tab">
          <ul>
            <li>
              <a href="#" class="d-flex align-items-center ml-4"></a>
            </li>
            <li>
              <a href="#dropdown-lvl1" class="d-flex align-items-center ml-4">
                <i class="fas fa-tachometer-alt "></i>
                <span class="menu-text flex-fill toggle-visibility">Dashboard</span>
                <a href="#dropdown-lvl1" class="menu-text flex-fill toggle-visibility" data-toggle="collapse">Folders</a>
              </a>
            </li>
            <li class="panel panel-default" id="dropdown">
              <!-- Dropdown level 1 -->
              <div id="dropdown-lvl1" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="nav navbar-nav">
                    <li>
                      <% if user_signed_in? %>
                        <div id = "folder-container" class = "menu-text flex-fill">
                          <h2><%= link_to "+", new_folder_path() %><br>
                          </h2>
                          <% @folders.each do |folder| %>
                            <div id = "folder-card" class="card">
                              <% if (folder.user_id == current_user.id) %>
                                <h2><%= link_to "#{folder.name}", folder %></h2>
                                <%= link_to "Delete",
                                            folder_path(folder),
                                            method: :delete,
                                            data: { confirm: "Are you sure?" } %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </li>
                  </ul>
                  <br>
                  <li>
                    <p><%= link_to "Add a todo list/calendar", folder_sections_path(@folder, section: { section_type: "todo" }), method: "POST" %>
                    </p>
                    <p><%= link_to "Add a bookmark manager", folder_sections_path(@folder, section: { section_type: "bookmark" }), method: "POST" %>
                    </p>
                    <p><%= link_to "Add a timer section", folder_sections_path(@folder, section: { section_type: "timer" }), method: "POST" %>
                    </p>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </aside>
        <div class ="wrapper w-100 ml-5 mr-5" >
          <% # Tasks Sections %>
          <div id="section-container-left" class="mr-5">
            <% @sections.each do |section| %>
              <% if section.section_type == "todo" %>
                <div class = "todo-container">
                  <div class="page-header">
                    <h1>My Tasks</h1>
                    <%= image_tag("bar.png") %>
                    <div class = "todo-card">
                      <ul id="tasks-list">
                        <% @tasks[section.id].each do |task| %>
                          <li>
                            <i class="fas fa-grip-lines mr-2"></i>
                            <% if task.completed == "completed" %>
                              <a class = "add" href="<%=  %>"><%= image_tag("checked.png", height: "15", width: "15") %></a>
                            <% else %>
                              <a class = "add" href="<%=  %>"><%= image_tag("empty.png", height: "15", width: "15") %></a>
                            <% end %>
                            <%= link_to task.title, edit_task_path(task) %>
                              <div id = "task" class = "card">
                               <%= simple_form_for task, html: { class: "d-none", data: { edit_movie_target: "form" } } do |f| %>
                                  <%= f.input :title %>
                                  <%= f.input :description %>
                                  <%= f.input :date, as: :date, html5: true %>
                                  <%= f.input :is_event %>
                                  <%= f.input :completed, collection: Task.completeds.keys %>
                                  <%= f.submit %>
                                <% end %>
                              </div>
                              <%= link_to "Delete",
                                          task_path(task.id),
                                          method: :delete,
                                          data: { confirm: "Are you sure?" } %></p>
                            <% if task.completed == "completed" %>
                            <% end %>
                          </li>
                          <% if task.completed == "completed" %>
                          <% end %>
                        <% end %>
                      </ul>
                      <a class = "add" href="<%= new_section_task_path(section) %>"><%= image_tag("add.png") %></a>
                    </div>
                    <%= link_to "Delete This Section",
                                section_path(section),
                                method: :delete,
                                data: { confirm: "Are you sure?" } %></p>
                </div>
              </div>
            <% end %>
            <% if section.section_type == "bookmark" %>
              <div class = "card">
                <h1><%= section.section_type %></h1>
                <% @bookmarks[section.id].each do |bookmark| %>
                  <h3><%= bookmark.name %></h3>
                  <p><%= bookmark.url %></p>
                  <%= link_to "Delete",
                              bookmark_path(bookmark.id),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %></p>
                <br>
              <% end %>
              <p><%= link_to "Add a bookmark", new_section_bookmark_path(section) %><br>
                <%= link_to "Delete This Section",
                            section_path(section),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %></p>
            </div>
          <% end %>
          <% if section.section_type == "timer" %>
            <div class = "card" >
              <h1><%= section.section_type %></h1>
              <% @timers[section.id].each do |timer| %>
                <h3 class="text-center"><%= timer.name %></h3>
                <div class="timer">
                  <div class="timer__controls">
                    <button data-time="0" class="timer__button">Reset</button>
                    <form name="customForm" id="customForm">
                      <input type="text" name="minutes" placeholder="Enter Minutes">
                    </form>
                  </div>
                  <br>
                  <div class="display">
                    <h1 class="display__time-left"></h1>
                    <p class="display__end-time"></p>
                  </div>
                  <div class="timer__controls">
                    <button data-time="60" class="timer__button">1 Min</button>
                    <button data-time="300" class="timer__button">5 Mins</button>
                    <button data-time="900" class="timer__button">15 Mins</button>
                  </div>
                </div>
              <% end %>
              <% if section.timers.length == 0 %>
                <p><%= link_to "Add a timer", new_section_timer_path(section) %></p>
                <br>
              <% end %>
              <%= link_to "Delete This Section",
                          section_path(section),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
