
<div class ="section-container">
          <h3><%= link_to "Add a todo list/calendar", folder_sections_path(@folder, section: { section_type: "todo" }), method: "POST" %><br></h3>
          <h3><%= link_to "Add a bookmark manager", folder_sections_path(@folder, section: { section_type: "bookmark" }), method: "POST" %><br></h3>
          <h3><%= link_to "Add a timer container", folder_sections_path(@folder, section: { section_type: "timer" }), method: "POST" %><br></h3>
        </div>
<% @folder.sections.each do |section| %>
<div class = "card">
  <p><%= section.section_type %>
  <%= link_to "Delete",
                    section_path(section),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></p>  
      <%# <%=@tasks.title %>
      <%#<%= @tasks.description %>
      <%#<%= @tasks.date.strftime("%d %B") %> 
  <h3><%= link_to "Add a task", new_section_task_path(section)%><br></h3> 
  <h3><%= link_to "Add a bookmark!!!", new_section_bookmark_path(section)%><br></h3>
  <h3><%= link_to "Add a timer", new_section_timer_path(section)%><br></h3>
</div>
<% end %>
