<div id = "task" class = "card p-5">
  <%= simple_form_for [@section, @task] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :is_event %>
    <%= f.input :completed, collection: Task.completeds.keys %>
    <%= f.submit %>
  <% end %>
</div>
