<div class ="wrapper w-100" >
  <div class = "search-container p-5 ">
  <div class = "search-card">
    <h1>Search</h1>
    <br>
    <div class = "search">
      <%= search_form_for [@section, @q] do |f| %>
        <%= f.label :title_cont %>
        <%= f.search_field :title_cont %>
        <%= f.label :description_cont %>
        <%= f.search_field :description_cont %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="search-card-container">
      <br>
      <h2>Search Results:</h2>
      <% @tasks.each do |task| %>
        <li>
          <%= task.title %>
          <%= link_to " | Edit", edit_task_path(task) %>
          <%= link_to " | Back", folder_path(@folder) %>
        </li>
      <% end %>
    </div>
    </div>
  </div>
</div>
