<aside class="sidebar h-100">
  <div class="sidebar-section sidebar-header">
    <div class="sidebar-logo text-center d-flex mt-2">
      <h2 class="text-light pl-4">SAVER</h2>
      <div class = "pl-3 pt-1" >
        <%= link_to image_tag("saver.png", height: "20"), root_path %>
      </div>
    </div>
  </div>
  <div class="searchbar mt-3 m-2">
    <input class="search_input" type="text" name="" placeholder="Search Widgets...">
  </div>
  <div class="sidebar-section sidebar-menu p-0">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active pt-3 pb-2" id="menu" role="tabpanel" aria-labelledby="menu-tab">
        <ul>
          <li>
            <div class="d-flex align-items-center accordion-heading" id= "tab" data-toggle="collapse" data-target="#submenu1" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-tachometer-alt"></i>
              <span class="menu-text flex-fill">Folders</span>
              <div class="btn-group">
                <i class="fa fa-plus" aria-hidden="true" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <div class = "form">
                    <%= simple_form_for (@folder) do |f| %>
                      <%= f.input :name %>
                      <%= f.submit%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <div class="dropdown">
            <% if user_signed_in? %>
              <% @folders.each do |folder| %>
                <% if (folder.user_id == current_user.id) %>
                  <li >
                    <ul class="nav nav-list collapse " id="submenu1" >
                      <%= link_to "#{folder.name}", folder, class:"flex-fill padding", id:"tab", type:"button", title:"Title"%>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>
    <%# ---------------------------------------------------------------- %>
    <%# Navbar %>
    <%# Navbar %>
    <%# Widgets Spacebar %>
    <%# Widgets Spacebar  %>
