<%= render "shared/sidebar", folder: @create %>
<div class = "bookmarks" >
  <section class="home-section  mb-4">
    <div class = "topbar">
      <%= simple_form_for [@bookmark_list, @bookmark] do |f| %>
        <div class="url-search">
          <%= f.input :name, label: false, placeholder: "Name for bookmark" %>
          <%= f.input :url, label: false, placeholder: "Type URL here..." %>
          <%= f.submit class: "bookmark-button" %>
        </div>
      <% end %>
    </div>
    <div class="container1">
      <% @bookmark_list.bookmarks.each do |bm| %>
        <%= render "bookmarks/bookmark", bookmark: bm %>
      <% end %>

    </div>
  </section>
</div>
