<%= render "shared/sidebar", folder: @create %>
<div class = "bookmarks" >
  <section class="home-section">
    <div class = "topbar">
      <%= simple_form_for [@bookmark_list, @bookmark] do |f| %>
        <div class="url-search">
          <%= f.input :name, label: false, placeholder: 'Name for bookmark' %>
          <%= f.input  :url, item_label_class: 'grow', label: false, placeholder:'Type URL here...'%>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="container1">
      <% @bookmark_list.bookmarks.each do |bm| %>
        <%= render 'bookmarks/bookmark', bookmark: bm %>
      <% end %>
    </div>
  </section>
</div>
