<div class = "card" >
  <h1><%= section.section_type %></h1>
  <% timers[section.id].each do |timer| %>
    <h3><%= timer.name %></h3>
    <%= link_to "Delete",
                        timer_path(timer.id),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></p>
  <br>
<% end %>
<p><%= link_to "Add a timer", new_section_timer_path(section) %><br>
  <%= link_to "Delete This Section",
                      section_path(section),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></p>
</div>
