<div id="main">
  <div id="container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <br>
        <div class="home-banner mb-2">
          <h1 id="dynamic-text">
            <span id="banner-typed-text"></span>
          </h1>
        </div>
        <div class = "color-logo">
          <%= image_tag("saver.png") %>
        </div>
        <br>
        <%= f.input :email,
                    input_html: { value: @demo.email },
                    placeholder: "demo@saver.com" %>
        <%= f.input :password,
                    input_html: { value: @demo.last_name },
                    placeholder: "secret" %>
      </div>
      <%= render "devise/shared/links" %>
      <div class="form-actions">
        <%= f.button :submit, "Login" %>
      </div>
    <% end %>
  </div>
</div>
