<div id="main">
  <div id="container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <br>
        <h2>Login</h2>
        <br>
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
      </div>
      <%= render "devise/shared/links" %>
      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
  </div>
</div>
