<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3FWNZ286M4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3FWNZ286M4');
    </script>
    <title>Saver - All Your Productivity Tools Under One Roof</title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= favicon_link_tag asset_path("saver.png") %>
    <script src="https://kit.fontawesome.com/4a2ded34c6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true %>
  </head>
  <body>
    <% unless current_page?(new_user_session_path) %>
      <div class="wrapper d-flex h-100">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    <% end %>
    <% if current_page?(new_user_session_path) %>
      <%= render "shared/flashes" %>
      <%= yield %>
    <% end %>
    <% if current_user %>
      <style>
        :root {
          --main-color-bg: <%= current_user.bg_color.nil? ? "#151828" : current_user.bg_color %>;
          --main-color-txt: <%= current_user.txt_color.nil? ? "#F4F4F4" : current_user.txt_color %>;
          --card-color-bg: <%= current_user.card_color.nil? ? "#372f2fBF" : "#{current_user.card_color}BF" %>;
          --card-color-user: <%= current_user.card_color %>
        }
      </style>
    <% end %>
  </body>
</html>
