<!DOCTYPE html>
<html>
  <head>
    <title>Saver</title>
    <script src="https://kit.fontawesome.com/4a2ded34c6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true %>
  </head>
  <body>
    <% unless current_page?(new_user_session_path) %>
      <div class="wrapper d-flex h-100">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    <% end %>
    <% if current_page?(new_user_session_path) %>
      <%= render "shared/flashes" %>
      <%= yield %>
    <% end %>
    <% if current_user %>
      <style>
        :root {
          --main-color-bg: <%= current_user.bg_color.nil? ? "#151828" : current_user.bg_color %>;
          --main-color-txt: <%= current_user.txt_color.nil? ? "#F4F4F4" : current_user.txt_color %>;
        }
      </style>
    <% end %>
  </body>
</html>
