<!DOCTYPE html>
<html>
  <head>
    <title>Saver</title>
    <script src="https://kit.fontawesome.com/4a2ded34c6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <% unless current_page?(new_user_session_path) %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% end %>
    <% if current_page?(new_user_session_path) %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% end %>
  </body>
</html>
